<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>genre</th>
    <th>summary</th>
    <th>number sold</th>
    <th>popularity</th>
  </tr>
  <tr>
<% @books.each do |book| %>
    <td><%= book.title %></td>
    <td><%= book.author %></td>
    <td><%= book.genre %></td>
    <td><%= book.summary %></td>
    <td><%= book.number_sold %></td>
    <td><%= book.popularity %></td>
  </tr>
<% end %>
</table>
